.nav li {
    list-style: none;
  }
  
  .nav a {
    text-decoration: none;
    padding: .3rem;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  .nav {
    background-color: black;
    padding: .5rem;
    border-bottom: 1px solid white;
  }
  
  .active-link {
    color: yellow;
    border: 1px solid yellow;
  }

  .inactive-link {
      color: white;
  }