body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
li {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome-p {
  font-size: 1.5rem;
  margin: 1.5rem;
}

.page-title {
  color: magenta;
}

.about-page-container {
  margin: 3rem;
  max-width: 80%;
}

.about-page-container > h2 {
  color: cyan;
  line-height: 4rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.list-heading {
  color: yellow;
  font-size: 1.2rem;
}

.list-heading > li {
  color: white;
  font-size: 1rem;
}

.emphasized-text {
  color: magenta;
}

.social-link {
  margin: 2rem;
}
